@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-style: normal;
    z-index: 1;
    scroll-behavior: smooth;
}

h1,p,img,summary,a,span{
    cursor: default;
}

body{
    overflow-x: hidden;
}

section{
    width: 100vw; 
    height: auto;
}